<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Добавити нову категорію</title>
</head>
<body>
<form method="post" action="/categories/add" enctype="multipart/form-data">
    <div class="form-group">
        <label for="name">Назва:</label>
        <input type="text" id="name" name="name"><br><br>
        <br><br>
        <label for="image">Зображення:</label>
        <input type="file" id = "image" name="image" accept="image/*" class="form-control-file">
    </div>
    <br>
    <button type="submit" id = "btn">Зберегти</button>
</form>
</body>
</html>